1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

ans:

i/values are: 
'hello', -87.8, 6

ii/expression are:
-, /, +

2. What is the difference between string and variable?

ans:

i/string: string is a data type, which is comibination of some character and the character is quoted
by single('') or double("") quotation.

ii/variable: variable is container which can contain or store any kind of data.

iii/Difference between string and variable: string is a data type but variable is data container. string can't store a data but variable can.

3. Describe three different data types.

ans:

three kind of data types are:

i/ integer : integer are numeric number.
exmple: 7,10,1200

ii/float: float is numeric numbers with radix point.
example: 12.14,15.9

iii/comlex: complex is data type which is mixed of a real and imaginary number.
example: 2+3j,3-4j.

4. What is an expression made up of? What do all expressions do?

ans:

an expression is combination of values,operators,variables and a calling function.

Expression evaluate a single value by functioning all the data of its expression.

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

ans:

An expression is a combination of value,variable and oprators which can evaluate a new vlaue ,on the other hand statement is an
action of command i.e. print(),input().
difference between both is one can evaluate a data and another take action on a data.

6. After running the following code, what does the variable bacon contain?

In [2]:
bacon = 22
bacon + 1

23

bacon will contain a value of 23.

7. What should the values of the following two terms be?

In [3]:
'spam'+'spamspam'
'spam'*3

'spamspamspam'

value of the both terms will be 'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

ans:

acoording to rule of naming a variable srting can be consider as a variable name but numeric number can't be consider
as a variable name.

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

ans:

the int(),float() and string() funtion are used to get integer,floating-point number and string version respectively.

10. Why does this expression cause an error? How can you fix it?

ans:

This expression causes error, because a string can only concatenate with another string, but there 99 is an integer
that's why 99 can't concatenate with strings and cause an error.

I will fix the error converting 99 in a string by following method:

In [5]:
'I have eaten' + '99' + 'burritos.'

'I have eaten99burritos.'

In [6]:
'I have eaten' + str(99) + 'burritos'

'I have eaten99burritos'

<-----------------------end_of_the_assignment_1_python_basic------------------------------>